@import "./styles/partials/colors";
@import "./styles/partials/variables";
@import "./styles/partials/mixins";
@import "./styles/theme";

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

#root {
  height: 100%;
}

@include tiny-screens {
  .dsr-hide-for-small {
    display: none !important;
  }
}

@include small-screens {
  .dsr-hide-for-small {
    display: none !important;
  }
}

.dsr-link-btn {
  cursor: pointer;
  opacity: 0.8;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  &:hover {
    opacity: 1;
  }
}

.dsr-hide {
  display: none;
}

hr {
  opacity: 0.7;
  margin: 15px 25px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  // background: $mat-accent-lighter;
}

::-webkit-scrollbar-thumb {
  // background: $mat-dark-accent-200;
}
